- content_for :page_title do
  = site_hostname

.wrapper.thicc
  .sidebar-layout
    .main
      .panel
        %h2= site_hostname

        - unless @instance_presenter.site_description.blank?
          %p= @instance_presenter.site_description.html_safe

      .panel
        %h2= "利用規約"

        %p= "犯罪に加担していると思える，または日本法に抵触するようなトゥートは禁止です。警察や裁判所の要請に応じてログを開示することがあります。"
        %p= "エログロなどの理由で18歳未満閲覧禁止になりそうなトゥートにはCWで警告してください。画像にはNSFWを付けてください。たとえ付けていても日本法に抵触するような画像は禁止です。"
        %p= "連投や，フォロ爆などの過度に迷惑がかかる投稿は禁止です。スパムにしか見えないような宣伝もやめてください。"
        %p= "艦これの話題が充実する雰囲気を目指していただけるとうれしいです。みんな提督、みんな友軍。みんなが楽しいインスタンスを目指しましょう。※ただし陸軍を除く"

      .panel
        %h2= "イベント海域に関するトゥートについてのお願い"

        %p= "期間限定イベントに関するトゥートはぜひおこなってください。皆さんでイベントの楽しさを共有しましょう。"
        %p= "イベントに関する話題はできるだけ海域の略称をハッシュタグにつけてください。きっとお互い、攻略情報を探しやすくなります。"

      .information-board
        .section
          %span= t 'about.user_count_before'
          %strong= number_with_delimiter @instance_presenter.user_count
          %span= t 'about.user_count_after'
        .section
          %span= t 'about.status_count_before'
          %strong= number_with_delimiter @instance_presenter.status_count
          %span= t 'about.status_count_after'
        .section
          %span= t 'about.domain_count_before'
          %strong= number_with_delimiter @instance_presenter.domain_count
          %span= t 'about.domain_count_after'

      - unless @instance_presenter.site_extended_description.blank?
        .panel= @instance_presenter.site_extended_description.html_safe

    .sidebar
      = render 'contact', contact: @instance_presenter
      = render 'links', instance: @instance_presenter
      = render 'version', version: @instance_presenter
